.relation {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 30vh;


  &-name {
    margin-top: 60px;
    margin-left: 28%;
  }

  &-title {
    font-weight: bold;
  }



}

.relationForm {
  display: flex;
  flex-direction: column;


    &-input {
    height: 50px;
    width: 450px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
  }

  &-title {
    font-weight: bold;
  }
}

.relationButton {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(246, 159, 28);
  border-radius: 0.5rem;
  width: 100px;
  padding: 0.7rem;
  margin-top: 30px;
}


