<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Fichier log -->
        <File name="FileLogger" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            <SizeBasedTriggeringPolicy size="10MB" />
        </Policies>
        <DefaultRolloverStrategy max="10">
            <Delete basePath="logs/app.log" maxDepth="10">
                <!-- Delete all files older than 30 days -->
                <IfLastModified age="30d" />
            </Delete>
        </DefaultRolloverStrategy>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
        <Logger name="com.openclassrooms.paymybuddyback.controllers" level="DEBUG"/>
        <Logger name="com.openclassrooms.paymybuddyback.services" level="info"/>
        <Logger name="com.openclassrooms.paymybuddyback.repository" level="DEBUG"/>
    </Loggers>
</Configuration>
